body{
    font: 12px/20px "微软雅黑","Microsoft Yahei","sans-serif", "Arial", "Verdana";
    color: #707070;
    background-color: #F9F9F9;
}
.layui-form-onswitch i {
    left: 23px;
    background-color: #fff;
}
.logo{
    font-size: 24px;
    color: #fff;
    float: left;
    margin: 17px 0 0 9px;
    height: 14px;
    line-height: 14px;
    padding-bottom: 2px;
    padding-right: 28px;
}
.layui-tab-brief > .layui-tab-title .layui-this {
    color: #1E9FFF;
}
.layui-tab-brief > .layui-tab-title .layui-this:after, .layui-tab-brief > .layui-tab-more li.layui-this:after {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #1E9FFF;
}
.layui-form-onswitch {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
}