/*重写样式*/
.layui-tab-title li {
    line-height: 35px !important;
}

.layui-tab-title {
    height: 35px !important;
}

.layui-tab-title .layui-this:after {
    height: 36px !important;
}

.layui-tab-content {
    padding: 15px 0 0 0 !important;
}

.layui-tab-brief > .layui-tab-title .layui-this {
    color: #1E9FFF !important;
}

.layui-tab-brief > .layui-tab-title .layui-this:after, .layui-tab-brief > .layui-tab-more li.layui-this:after {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #1E9FFF !important;
}

.layui-nav-bar, .layui-nav .layui-this:after, .layui-nav-tree .layui-nav-itemed:after {
    background-color: #1E9FFF !important;
}

.layui-nav-tree .layui-nav-itemed:after {
    background-color: #1E9FFF !important;
}

.layui-form-select dl dd.layui-this {
    background-color: #1E9FFF !important;
    color: #fff !important;
}

.layui-form-checked, .layui-form-checked:hover {
    border-color: #1E9FFF !important;
}

.layui-form-checked i, .layui-form-checked:hover i {
    color: #5FB878 !important;
}

.layui-form-checkbox[lay-skin="primary"]:hover i {
    border-color: #1E9FFF !important;
    color: #fff !important;
}

.layui-form-checked[lay-skin="primary"] i {
    border-color: #1E9FFF !important;
    background-color: #1E9FFF !important;
    color: #fff !important;
}

.layui-form-onswitch {
    border-color: #5FB878 !important;
    background-color: #1E9FFF !important;
}

.layui-form-radioed i, .layui-form-radio i:hover {
    color: #1E9FFF !important;
}

.layui-nav-child dd.layui-this {
    background-color: #1E9FFF !important;
    color: #fff !important;
}

.layui-nav .layui-nav-child dd.layui-this a {
    background-color: #1E9FFF !important;
    color: #fff !important;
}

.layui-btn {
    height: 32px  !important;
    line-height: 32px  !important;
}
.layui-input, .layui-textarea, .layui-select {
    height: 32px  !important;
}


.layui-form-radio i {
    margin-right: 8px  !important;
    font-size: 19px  !important;
}

.layui-input-block {
    min-height: 32px !important;
}
.layui-form-switch {
    height: 20px  !important;
    line-height: 20px  !important;
}
.layui-laydate .layui-this {
    background-color: #1f9fff  !important;
    color: #fff  !important;
}
/*自定义按钮大小*/
.layui-btn-custom-mini {
    height: 26px  !important;
    line-height: 26px  !important;
    font-size: 12px  !important;
}
.layui-form-label {
    /*height: 32px  !important;*/
    line-height: 16px  !important;
}
.layui-form .layui-form-pane .layui-form-label {
    height: 32px  !important;
    line-height: 16px  !important;
}
.layui-form-pane  .layui-form-radio {
    line-height: 0  !important;
    margin:  0  !important;
}
.layui-form-pane .layui-form-label {
    height: 32px;
}

.layui-form-pane .layui-form-switch, .layui-form-pane .layui-form-radio {
    margin-top: 10px  !important;
}
/*.layui-form-mid {*/
/*line-height: 8px  !important;*/
/*}*/