/* 改变主题色变量 */
//$--color-primary: #ff9900;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

* {
  margin: 0;
  padding: 0;
}

body, html {
  color: #606266;
  background-color: #f8fafc;
  //background-color: #EEEEEE;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  //font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type:none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
// clear float
.clear-float {
  clear:both
}
//a:link {color: #ff9900; text-decoration:none;} //未访问：橙色、无下划线
//a:active {color:  #ff9900; } //激活：红色
//a:visited {color: #ff9900;text-decoration:none;} //已访问：橙色、无下划线
//a:hover {color:  #ff9900; text-decoration:none;} //鼠标移近：橙色、下划线

// #f5f7f9

