/* reset  css */
/*body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin: 0;padding: 0;font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","Arial"}*/
section, article, aside, header, footer, nav, dialog, figure {display: block}
table {border-collapse: collapse;border-spacing: 0}
fieldset, img {border: 0}
address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;font-weight: normal}
li {list-style: none}
/*caption, th {text-align: left}*/
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal}
q:before, q:after {content: ''}
abbr, acronym {border: 0;font-variant: normal}
del {text-decoration: line-through}
ins {text-decoration: none}
sup {vertical-align: text-top}
sub {vertical-align: text-bottom}
input, textarea, select, button {font-family: inherit;font-size: inherit;font-weight: inherit;outline: 0;}
input, textarea, select {*font-size:100%}
input,select{vertical-align:middle;}
legend {color: #000}
a {text-decoration:none; outline: none; color: #000;}
/*a:hover {text-decoration:none; color: #EA544A}*/

/* clear float */
.cl {zoom: 1}
.cl:after {content: ".";display: block;height: 0;clear: both;visibility: hidden}

/* layout 1000px */
.layout{width: 1100px; margin-left: auto; margin-right: auto}
/* layout 100% */
.layoutAuto{width: 100%}

/* float */
.fl{float: left !important}
.fr{float: right !important}
.block-box{margin-left: auto !important;margin-right: auto !important}

/* content Align */
.text-lefe{text-align: left !important}
.text-right{text-align: right !important}
.text-center{text-align: center !important}

/*position*/
.ps{position: static;}
.pr{position: relative;}
.pa{position: absolute;}
.pf{position: fixed;}

/* block height  previously */
.span0{display: block;height: 0px}
.span1{display: block;height: 1px}
.span2{display: block;height: 2px}
.span3{display: block;height: 3px}
.span4{display: block;height: 4px}
.span5{display: block;height: 5px}
.span6{display: block;height: 6px}
.span7{display: block;height: 7px}
.span8{display: block;height: 8px}
.span9{display: block;height: 9px}
.span10{display: block;height: 10px}
.span11{display: block;height: 11px}
.span12{display: block;height: 12px}
.span13{display: block;height: 13px}
.span14{display: block;height: 14px}
.span15{display: block;height: 15px}
.span16{display: block;height: 16px}
.span17{display: block;height: 17px}
.span18{display: block;height: 18px}
.span19{display: block;height: 19px}
.span20{display: block;height: 20px}
.span21{display: block;height: 21px}
.span22{display: block;height: 22px}
.span23{display: block;height: 23px}
.span24{display: block;height: 24px}
.span25{display: block;height: 25px}
.span26{display: block;height: 26px}
.span27{display: block;height: 27px}
.span28{display: block;height: 28px}
.span29{display: block;height: 29px}
.span30{display: block;height: 30px}

/* margin top previously */
.mt0{margin-top:0px !important}
.mt1{margin-top:1px !important}
.mt2{margin-top:2px !important}
.mt3{margin-top:3px !important}
.mt4{margin-top:4px !important}
.mt5{margin-top:5px !important}
.mt6{margin-top:6px !important}
.mt7{margin-top:7px !important}
.mt8{margin-top:8px !important}
.mt9{margin-top:9px !important}
.mt10{margin-top:10px !important}
.mt11{margin-top:11px !important}
.mt12{margin-top:12px !important}
.mt13{margin-top:13px !important}
.mt14{margin-top:14px !important}
.mt15{margin-top:15px !important}
.mt16{margin-top:16px !important}
.mt17{margin-top:17px !important}
.mt18{margin-top:18px !important}
.mt19{margin-top:19px !important}
.mt20{margin-top:20px !important}
.mt21{margin-top:21px !important}
.mt22{margin-top:22px !important}
.mt23{margin-top:23px !important}
.mt24{margin-top:24px !important}
.mt25{margin-top:25px !important}
.mt26{margin-top:26px !important}
.mt27{margin-top:27px !important}
.mt28{margin-top:28px !important}
.mt29{margin-top:29px !important}
.mt30{margin-top:30px !important}
.mt31{margin-top:31px !important}
.mt32{margin-top:32px !important}
.mt33{margin-top:33px !important}
.mt34{margin-top:34px !important}
.mt35{margin-top:35px !important}
/* margin left previously */
.ml0{margin-left:0px !important}
.ml1{margin-left:1px !important}
.ml2{margin-left:2px !important}
.ml3{margin-left:3px !important}
.ml4{margin-left:4px !important}
.ml5{margin-left:5px !important}
.ml6{margin-left:6px !important}
.ml7{margin-left:7px !important}
.ml8{margin-left:8px !important}
.ml9{margin-left:9px !important}
.ml10{margin-left:10px !important}
.ml11{margin-left:11px !important}
.ml12{margin-left:12px !important}
.ml13{margin-left:13px !important}
.ml14{margin-left:14px !important}
.ml15{margin-left:15px !important}
.ml16{margin-left:16px !important}
.ml17{margin-left:17px !important}
.ml18{margin-left:18px !important}
.ml19{margin-left:19px !important}
.ml20{margin-left:20px !important}
.ml21{margin-left:21px !important}
.ml22{margin-left:22px !important}
.ml23{margin-left:23px !important}
.ml24{margin-left:24px !important}
.ml25{margin-left:25px !important}
.ml26{margin-left:26px !important}
.ml27{margin-left:27px !important}
.ml28{margin-left:28px !important}
.ml29{margin-left:29px !important}
.ml30{margin-left:30px !important}
/* margin bottom previously */
.mb0{margin-bottom:0px !important}
.mb1{margin-bottom:1px !important}
.mb2{margin-bottom:2px !important}
.mb3{margin-bottom:3px !important}
.mb4{margin-bottom:4px !important}
.mb5{margin-bottom:5px !important}
.mb6{margin-bottom:6px !important}
.mb7{margin-bottom:7px !important}
.mb8{margin-bottom:8px !important}
.mb9{margin-bottom:9px !important}
.mb10{margin-bottom:10px !important}
.mb11{margin-bottom:11px !important}
.mb12{margin-bottom:12px !important}
.mb13{margin-bottom:13px !important}
.mb14{margin-bottom:14px !important}
.mb15{margin-bottom:15px !important}
.mb16{margin-bottom:16px !important}
.mb17{margin-bottom:17px !important}
.mb18{margin-bottom:18px !important}
.mb19{margin-bottom:19px !important}
.mb20{margin-bottom:20px !important}
.mb21{margin-bottom:21px !important}
.mb22{margin-bottom:22px !important}
.mb23{margin-bottom:23px !important}
.mb24{margin-bottom:24px !important}
.mb25{margin-bottom:25px !important}
.mb26{margin-bottom:26px !important}
.mb27{margin-bottom:27px !important}
.mb28{margin-bottom:28px !important}
.mb29{margin-bottom:29px !important}
.mb30{margin-bottom:30px !important}
/* margin right previously */
.mr0{margin-right:0px !important}
.mr1{margin-right:1px !important}
.mr2{margin-right:2px !important}
.mr3{margin-right:3px !important}
.mr4{margin-right:4px !important}
.mr5{margin-right:5px !important}
.mr6{margin-right:6px !important}
.mr7{margin-right:7px !important}
.mr8{margin-right:8px !important}
.mr9{margin-right:9px !important}
.mr10{margin-right:10px !important}
.mr11{margin-right:11px !important}
.mr12{margin-right:12px !important}
.mr13{margin-right:13px !important}
.mr14{margin-right:14px !important}
.mr15{margin-right:15px !important}
.mr16{margin-right:16px !important}
.mr17{margin-right:17px !important}
.mr18{margin-right:18px !important}
.mr19{margin-right:19px !important}
.mr20{margin-right:20px !important}
.mr21{margin-right:21px !important}
.mr22{margin-right:22px !important}
.mr23{margin-right:23px !important}
.mr24{margin-right:24px !important}
.mr25{margin-right:25px !important}
.mr26{margin-right:26px !important}
.mr27{margin-right:27px !important}
.mr28{margin-right:28px !important}
.mr29{margin-right:29px !important}
.mr30{margin-right:30px !important}
/* margin  previously */
.m0{margin:0px !important}
.m1{margin:1px !important}
.m2{margin:2px !important}
.m3{margin:3px !important}
.m4{margin:4px !important}
.m5{margin:5px !important}
.m6{margin:6px !important}
.m7{margin:7px !important}
.m8{margin:8px !important}
.m9{margin:9px !important}
.m10{margin:10px !important}
.m11{margin:11px !important}
.m12{margin:12px !important}
.m13{margin:13px !important}
.m14{margin:14px !important}
.m15{margin:15px !important}
.m16{margin:16px !important}
.m17{margin:17px !important}
.m18{margin:18px !important}
.m19{margin:19px !important}
.m20{margin:20px !important}
.m21{margin:21px !important}
.m22{margin:22px !important}
.m23{margin:23px !important}
.m24{margin:24px !important}
.m25{margin:25px !important}
.m26{margin:26px !important}
.m27{margin:27px !important}
.m28{margin:28px !important}
.m29{margin:29px !important}
.m30{margin:30px !important}
/* padding  previously */
.p0{padding:0px !important}
.p1{padding:1px !important}
.p2{padding:2px !important}
.p3{padding:3px !important}
.p4{padding:4px !important}
.p5{padding:5px !important}
.p6{padding:6px !important}
.p7{padding:7px !important}
.p8{padding:8px !important}
.p9{padding:9px !important}
.p10{padding:10px !important}
.p11{padding:11px !important}
.p12{padding:12px !important}
.p13{padding:13px !important}
.p14{padding:14px !important}
.p15{padding:15px !important}
.p16{padding:16px !important}
.p17{padding:17px !important}
.p18{padding:18px !important}
.p19{padding:19px !important}
.p20{padding:20px !important}
.p21{padding:21px !important}
.p22{padding:22px !important}
.p23{padding:23px !important}
.p24{padding:24px !important}
.p25{padding:25px !important}
.p26{padding:26px !important}
.p27{padding:27px !important}
.p28{padding:28px !important}
.p29{padding:29px !important}
.p30{padding:30px !important}
/* padding-top  previously */
.pt0{padding-top:0px !important}
.pt1{padding-top:1px !important}
.pt2{padding-top:2px !important}
.pt3{padding-top:3px !important}
.pt4{padding-top:4px !important}
.pt5{padding-top:5px !important}
.pt6{padding-top:6px !important}
.pt7{padding-top:7px !important}
.pt8{padding-top:8px !important}
.pt9{padding-top:9px !important}
.pt10{padding-top:10px !important}
.pt11{padding-top:11px !important}
.pt12{padding-top:12px !important}
.pt13{padding-top:13px !important}
.pt14{padding-top:14px !important}
.pt15{padding-top:15px !important}
.pt16{padding-top:16px !important}
.pt17{padding-top:17px !important}
.pt18{padding-top:18px !important}
.pt19{padding-top:19px !important}
.pt20{padding-top:20px !important}
.pt21{padding-top:21px !important}
.pt22{padding-top:22px !important}
.pt23{padding-top:23px !important}
.pt24{padding-top:24px !important}
.pt25{padding-top:25px !important}
.pt26{padding-top:26px !important}
.pt27{padding-top:27px !important}
.pt28{padding-top:28px !important}
.pt29{padding-top:29px !important}
.pt30{padding-top:30px !important}
/* padding-left  previously */
.pl0{padding-left:0px !important}
.pl1{padding-left:1px !important}
.pl2{padding-left:2px !important}
.pl3{padding-left:3px !important}
.pl4{padding-left:4px !important}
.pl5{padding-left:5px !important}
.pl6{padding-left:6px !important}
.pl7{padding-left:7px !important}
.pl8{padding-left:8px !important}
.pl9{padding-left:9px !important}
.pl10{padding-left:10px !important}
.pl11{padding-left:11px !important}
.pl12{padding-left:12px !important}
.pl13{padding-left:13px !important}
.pl14{padding-left:14px !important}
.pl15{padding-left:15px !important}
.pl16{padding-left:16px !important}
.pl17{padding-left:17px !important}
.pl18{padding-left:18px !important}
.pl19{padding-left:19px !important}
.pl20{padding-left:20px !important}
.pl21{padding-left:21px !important}
.pl22{padding-left:22px !important}
.pl23{padding-left:23px !important}
.pl24{padding-left:24px !important}
.pl25{padding-left:25px !important}
.pl26{padding-left:26px !important}
.pl27{padding-left:27px !important}
.pl28{padding-left:28px !important}
.pl29{padding-left:29px !important}
.pl30{padding-left:30px !important}
/* padding-bottom  previously */
.pb0{padding-bottom:0px !important}
.pb1{padding-bottom:1px !important}
.pb2{padding-bottom:2px !important}
.pb3{padding-bottom:3px !important}
.pb4{padding-bottom:4px !important}
.pb5{padding-bottom:5px !important}
.pb6{padding-bottom:6px !important}
.pb7{padding-bottom:7px !important}
.pb8{padding-bottom:8px !important}
.pb9{padding-bottom:9px !important}
.pb10{padding-bottom:10px !important}
.pb11{padding-bottom:11px !important}
.pb12{padding-bottom:12px !important}
.pb13{padding-bottom:13px !important}
.pb14{padding-bottom:14px !important}
.pb15{padding-bottom:15px !important}
.pb16{padding-bottom:16px !important}
.pb17{padding-bottom:17px !important}
.pb18{padding-bottom:18px !important}
.pb19{padding-bottom:19px !important}
.pb20{padding-bottom:20px !important}
.pb21{padding-bottom:21px !important}
.pb22{padding-bottom:22px !important}
.pb23{padding-bottom:23px !important}
.pb24{padding-bottom:24px !important}
.pb25{padding-bottom:25px !important}
.pb26{padding-bottom:26px !important}
.pb27{padding-bottom:27px !important}
.pb28{padding-bottom:28px !important}
.pb29{padding-bottom:29px !important}
.pb30{padding-bottom:30px !important}
/* padding-right  previously */
.pr0{padding-right:0px !important}
.pr1{padding-right:1px !important}
.pr2{padding-right:2px !important}
.pr3{padding-right:3px !important}
.pr4{padding-right:4px !important}
.pr5{padding-right:5px !important}
.pr6{padding-right:6px !important}
.pr7{padding-right:7px !important}
.pr8{padding-right:8px !important}
.pr9{padding-right:9px !important}
.pr10{padding-right:10px !important}
.pr11{padding-right:11px !important}
.pr12{padding-right:12px !important}
.pr13{padding-right:13px !important}
.pr14{padding-right:14px !important}
.pr15{padding-right:15px !important}
.pr16{padding-right:16px !important}
.pr17{padding-right:17px !important}
.pr18{padding-right:18px !important}
.pr19{padding-right:19px !important}
.pr20{padding-right:20px !important}
.pr21{padding-right:21px !important}
.pr22{padding-right:22px !important}
.pr23{padding-right:23px !important}
.pr24{padding-right:24px !important}
.pr25{padding-right:25px !important}
.pr26{padding-right:26px !important}
.pr27{padding-right:27px !important}
.pr28{padding-right:28px !important}
.pr29{padding-right:29px !important}
.pr30{padding-right:30px !important}

/* default font size  */
.f10{font-size:10px}
.f11{font-size:11px}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f15{font-size:15px}
.f16{font-size:16px}
.f17{font-size:17px}
.f18{font-size:18px}
.f19{font-size:19px}
.f20{font-size:20px}
.f21{font-size:21px}
.f22{font-size:22px}
.f23{font-size:23px}
.f24{font-size:24px}
.f25{font-size:25px}
.f26{font-size:26px}
.f27{font-size:27px}
.f28{font-size:28px}
.f29{font-size:29px}

/* default line-height */
.l10{line-height:10px}
.l11{line-height:11px}
.l12{line-height:12px}
.l13{line-height:13px}
.l14{line-height:14px}
.l15{line-height:15px}
.l16{line-height:16px}
.l17{line-height:17px}
.l18{line-height:18px}
.l19{line-height:19px}
.l20{line-height:20px}
.l21{line-height:21px}
.l22{line-height:22px}
.l23{line-height:23px}
.l24{line-height:24px}
.l25{line-height:25px}
.l26{line-height:26px}
.l27{line-height:27px}
.l28{line-height:28px}
.l29{line-height:29px}
.l30{line-height:30px}
.l31{line-height:31px}
.l32{line-height:32px}
.l33{line-height:33px}
.l34{line-height:34px}
.l35{line-height:35px}
.l36{line-height:36px}
.l37{line-height:37px}
.l38{line-height:38px}
.l39{line-height:39px}
.l40{line-height:40px}
/* default font-weight */
.fw100{font-weight:100}
.fw200{font-weight:200}
.fw300{font-weight:300}
.fw400{font-weight:400}
.fw500{font-weight:500}
.fw600{font-weight:600}
.fw700{font-weight:700}

/* background Transparent */
.bgtrans{
  background: rgba(0,0,0,0.6);
  filter: progid:DXImageTransform.Microsoft.gradient( Q-gradientType = 0, startColorstr = '#80000000', endColorstr = '#80000000') \9;
}
/* box 样式 */
.block-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex-row{
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flex-col{
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex-1{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.block-flex-items{
    -webkit-align-items: stretch;
    align-items: stretch;
}
.hide{
    display: none;
}